body{
	color:  #8e8e8e;
}

.logo{
	margin: 20px 10px 30px 10px;
}

.logo:hover{
	opacity: 0.5;
	-webkit-transition: opacity 0.2s linear;
	-moz-transition: 0.2s linear;
	-ms-transition: 0.2s linear;
	-o-transition: 0.2s linear;
}

.divisor{background: #8e8e8e; color: #8e8e8e;}

.rodape{ background: #ba7d04; color: #fff; padding-top: 40px; padding-bottom: 40px; position: absolute; bottom: 0;  text-align: center;}

.formulario{
	margin-top: 50px;
}

.equipe{
	margin-top: 50px;
	width: 100%;
}

.equipe p{
	text-align: center;
}

.equipe .andre:hover{
	opacity: 0.5;
	-webkit-transition: opacity 0.2s linear;
	-moz-transition: 0.2s linear;
	-ms-transition: 0.2s linear;
	-o-transition: 0.2s linear;
}

.equipe .gustavo:hover{
	opacity: 0.5;
	-webkit-transition: opacity 0.2s linear;
	-moz-transition: 0.2s linear;
	-ms-transition: 0.2s linear;
	-o-transition: 0.2s linear;
}

.equipe .joselio:hover{
	opacity: 0.5;
	-webkit-transition: opacity 0.2s linear;
	-moz-transition: 0.2s linear;
	-ms-transition: 0.2s linear;
	-o-transition: 0.2s linear;
}

.equipe .mayara:hover{
	opacity: 0.5;
	-webkit-transition: opacity 0.2s linear;
	-moz-transition: 0.2s linear;
	-ms-transition: 0.2s linear;
	-o-transition: 0.2s linear;
}

.spoilers{
	margin-top: 50px;
}

#bloco {
	max-width: 100%;
	height: auto;
	font-size: large;
	font-weight: bold;
}

#fig {
	width: 300px;
	height:160px;
	margin: 0 auto;
	margin-top: 10px;
	border:5px solid #d2caad;
	background-color:#FFFFFF;
	background-image: url(img/got-1.jpg);
	transition: background-color,border-color 0.3s linear;
	-webkit-transition: background,border-color 0.3s linear;
	-moz-transition: background,border-color 0.3s linear;
	-o-transition: background,border-color 0.3s linear;
	
	animation-name: fig;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
#fig:hover {
	opacity: 0.7;
	background-color:#d2caad;
	border-color:#483129;
	transition: background-color,border-color 0.3s linear;
	-webkit-transition: background,border-color 0.3s linear;
	-moz-transition: background,border-color 0.3s linear;
	-o-transition: background,border-color 0.3s linear;
}

@keyframes fig {
	0%  {background-image: url(img/got-1.jpg);}
	25% {background-image: url(img/got-2.jpg);}
	50% {background-image: url(img/got-3.jpg);}
	75%	{background-image: url(img/got-4.jpg);}
	100%{background-image: url(img/got-1.jpg);}
}

a{
	color: #ba7d04;
}

a:hover{
	color: #DDBE82;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	 color: #8e8e8e;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
	background-color: #8e8e8e;
	border-color: #8e8e8e;
}