*{
	font-family: 'lato', sans-serif;
	font-weight: 300;
}

.logo{
	margin: 20px 10px 30px 10px;
}

.logo:hover{
	opacity: 0.5;
	-webkit-transition: opacity 0.2s linear;
	-moz-transition: 0.2s linear;
	-ms-transition: 0.2s linear;
	-o-transition: 0.2s linear;
}

section{
	padding-top: 170px;
	min-height: 100vh;
}

.sessao_cinza{
	background: url(../img/dark_embroidery.png); 
}

.sessao_cinza h1{
	color: #fff;
}

.sessao_cinza p{
	color: #fff;
}

.sessao_cinza label{
	color: #fff;
}

.sessao_branca{
	background: url(../img/exclusive_paper.png);
}

.divisor{background: #8e8e8e; color: #8e8e8e;}

.rodape{ background: #369fcf; color: #fff; padding-top: 50px; padding-bottom: 50px; position: absolute; bottom: 0; text-align: center;}

.formulario{
	margin-top: 50px;
}

.equipe article{
	padding-top: 40px;
}


.equipe p{
	padding-top: 30px;
	text-align: justify;
}

.equipe .andre:hover{
	opacity: 0.5;
	-webkit-transition: opacity 0.2s linear;
	-moz-transition: 0.2s linear;
	-ms-transition: 0.2s linear;
	-o-transition: 0.2s linear;
}

.equipe .gustavo:hover{
	opacity: 0.5;
	-webkit-transition: opacity 0.2s linear;
	-moz-transition: 0.2s linear;
	-ms-transition: 0.2s linear;
	-o-transition: 0.2s linear;
}

.equipe .joselio:hover{
	opacity: 0.5;
	-webkit-transition: opacity 0.2s linear;
	-moz-transition: 0.2s linear;
	-ms-transition: 0.2s linear;
	-o-transition: 0.2s linear;
}

.equipe .mayara:hover{
	opacity: 0.5;
	-webkit-transition: opacity 0.2s linear;
	-moz-transition: 0.2s linear;
	-ms-transition: 0.2s linear;
	-o-transition: 0.2s linear;
}

#bloco {
	max-width: 100%;
	height: auto;
	font-size: large;
	font-weight: bold;
}

#fig {
	width: 300px;
	height:160px;
	margin: 0 auto;
	margin-top: 10px;
	border:5px solid #d2caad;
	background-color:#FFFFFF;
	background-image: url(img/got-1.jpg);
	transition: background-color,border-color 0.3s linear;
	-webkit-transition: background,border-color 0.3s linear;
	-moz-transition: background,border-color 0.3s linear;
	-o-transition: background,border-color 0.3s linear;
	
	animation-name: fig;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
#fig:hover {
	opacity: 0.7;
	background-color:#d2caad;
	border-color:#483129;
	transition: background-color,border-color 0.3s linear;
	-webkit-transition: background,border-color 0.3s linear;
	-moz-transition: background,border-color 0.3s linear;
	-o-transition: background,border-color 0.3s linear;
}

@keyframes fig {
	0%  {background-image: url(img/got-1.jpg);}
	25% {background-image: url(img/got-2.jpg);}
	50% {background-image: url(img/got-3.jpg);}
	75%	{background-image: url(img/got-4.jpg);}
	100%{background-image: url(img/got-1.jpg);}
}